@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
/* 
map css
*/
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

/* css end map */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: rgba(3, 1, 6, 1);
}
body {
  font-family: "Urbanist", sans-serif;
}
